h1 Management panel
form(action='/cards' method='post'  enctype=' application/x-www-form-urlencoded')
    label(for='email') Email:
    input#email(type='email' name='email')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='mname') Middle name:
    input#mname(type='text' name='mname')
    br
    br
    label(for='org') Organization:
    input#org(type='text' name='org')
    br
    br
    label(for='photo') Photo:
    input#photo(type='file' name='photo')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    input(type='submit' value='Submit')