h1 Management panel
form#form(action='/cards' method='post'  enctype=' application/json')
    label(for='email') Email:
    input#email(type='email' name='email')
    br
    br
    label(for='fname') First name:
    input#fname(type='text' name='fname')
    br
    br
    label(for='lname') Last name:
    input#lname(type='text' name='lname')
    br
    br
    label(for='mname') Middle name:
    input#mname(type='text' name='mname')
    br
    br
    label(for='org') Organization:
    input#org(type='text' name='org')
    br
    br
    label(for='photo') Photo:
    input#photo(type='file' name='photo' accept="image/*")
    br
    br
    label(for='w_phone') Work Phone:
    input#w_phone(type='text' name='w_phone')
    br
    br
    label(for='title') Title:
    input#title(type='text' name='title')
    br
    br
    label(for='url') URL:
    input#url(type='text' name='url')
    br
    br
    label(for='workurl') Work URL:
    input#workurl(type='text' name='workurl')
    br
    br
    label(for='note') Note:
    input#note(type='text' name='note')
    br
    br
    label(for='nickname') Nickname:
    input#nickname(type='text' name='nickname')
    br
    br
    label(for='prefix') Prefix:
    input#prefix(type='text' name='prefix')
    br
    br
    label(for='suffix') Suffix:
    input#suffix(type='text' name='suffix')
    br
    br
    label(for='gender') Gender:
    input#gender(type='text' name='gender')
    br
    br
    label(for='role') Role:
    input#role(type='text' name='role')
    br
    br
    label(for='h_phone') Home Phone:
    input#h_phone(type='text' name='h_phone')
    br
    br
    label(for='c_phone') Cell Phone:
    input#c_phone(type='text' name='c_phone')
    br
    br
    label(for='p_phone') Pager:
    input#p_phone(type='text' name='p_phone')
    br
    br
    label(for='h_fax') Home Fax:
    input#h_fax(type='text' name='h_fax')
    br
    br
    label(for='w_fax') Work Fax:
    input#w_fax(type='text' name='w_fax')
    br
    br
    label(for='h_email') Home Email:
    input#h_email(type='text' name='h_email')
    br
    br
    label(for='w_email') Work Email:
    input#w_email(type='text' name='w_email')
    br
    br
    label(for='alias') Alias:
    input#alias(type='text' name='alias')
    br
    br
    label(for='h_address') Home Address:
    input#h_address(type='json' name='h_address')
    br
    br
    label(for='w_address') Work Address:
    input#w_address(type='json' name='w_address')
    br
    br
    input(type='submit' value='Submit')
    script
      include base64.js